# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Data and model files (large files)
data/extracted_faces/
data/extracted_frames/
data/test_faces/
data/train_faces/
data/videos/
dataset/extracted_features/
models/*.pth
data/*
detect/*
/detect
/data
# Results
results.txt
tasklist.txt